*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #444;
	background-image: url('../assets/bg.jpg');
	-webkit-background-size: cover;
	background-size: cover;
}
.container{
	display: block;
	width: 400px;
	margin: 10px auto;
	background-color: #fff;
	color: #000;
}